<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    
</head>
<body>
    <div class="row">
        <div class="col-lg-2-md-2 col-sm-2 col-xs-2" style="height:900px;border:1px solid gray;background-color:dimgrey">
            <div class="list-group">
                <div class="list-group-item">
                    @Html.ActionLink("Thêm môn học", "Add_Category", new { @class = "list-group-item" })

                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Thêm câu hỏi", "Add_Questions", new { @class = "list-group-item" })

                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Báo cáo", "Dashboard", new { @class = "list-group-item" })
                </div>
            </div>
        </div>
        <div class="col-lg-10-md-10 col-sm-10 col-xs-10" style="height:900px;border:1px solid gray">
            @RenderBody()
        </div>

    </div>
    
</body>
</html>
